@charset "UTF-8";
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 2;
}
.header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-body__logo {
  width: 30%;
  position: relative;
  margin: 0 30px 0 0;
  z-index: 3;
}
.header-body__menu {
  display: flex;
  gap: 37px;
  z-index: 2;
}
.header-body__menu ul {
  position: relative;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.header-body__menu li {
  cursor: pointer;
}
.header-body__menu li a {
  border-bottom: 2px solid #000;
  padding: 5px 0;
  transition: all 0.3s ease;
  color: #fff;
}
.header-body__menu li:hover a {
  border-bottom: 2px solid #FF7101;
}

@media (max-width: 854px) {
  body.lock {
    overflow: hidden;
  }
  .header-body {
    height: 50px;
  }
  .header-body__menu {
    position: fixed;
    top: -100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 80px 20px 0 30px;
    background-color: #000;
    transition: all 0.5s ease 0s;
  }
  .header-body__menu ul {
    flex-direction: column;
    align-items: start !important;
    font-weight: 600;
  }
  .header-body__menu.active {
    top: 0;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 3;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #FF7101;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #FF7101;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}
.main-slider {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), 0 100%);
}

.swiper {
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  height: 600px !important;
}

.sper-slide {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-pagination-bullets {
  bottom: 17% !important;
}

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background-color: #fff !important;
  border-radius: 50%;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 13px !important;
  height: 13px !important;
  background-color: transparent !important;
  border-radius: 50%;
  background-color: #FF7101 !important;
  box-shadow: 0px 0px 15px #FF5C00;
}

.slider-info {
  display: flex;
  text-align: left;
  width: 40%;
  height: 100%;
  padding: 10% 20px !important;
}

/*AboutUs*/
.about-us {
  padding: 40px 0;
  color: #000 !important;
}
.about-us__body {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.about-us__img {
  width: 40%;
}
.about-us__img img {
  width: 330px;
  height: 393px;
}
.about-us__info {
  width: 33%;
}

/*Coach*/
.coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 75px 0;
  background-color: #202020;
  -webkit-clip-path: polygon(0 6vw, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 6vw, 100% 0%, 100% 100%, 0% 100%);
}
.coach-header {
  display: flex;
  align-items: end;
  width: 100%;
  flex-direction: column;
}
.coach-info {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.coach-info__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  width: 100%;
  margin: 50px 0 0 0;
}
.coach-info__img {
  width: 310px;
  height: 367px;
  background-color: #fff;
}
.coach-info__name {
  color: #FF7101;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin: 15px 0 0 0;
}
.coach-info__description {
  font-size: 20px;
  font-weight: 500;
}

/*schedule*/
.schedule {
  padding: 75px 0;
  color: #000;
}
.schedule-header {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.schedule-table {
  margin-top: 50px;
  border-collapse: collapse;
  text-align: center;
  overflow: auto;
}
.schedule-table tr:first-child {
  outline: 5px solid white;
}
.schedule-table tr:first-child td {
  height: 61px;
  width: 170px;
  border: none;
  background: #FF5C00;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.schedule-table tr:first-child td:first-child {
  visibility: hidden;
}
.schedule-table tr td {
  height: 93px;
  background: #D9D9D9;
  border: 10px solid white;
  border-bottom: none;
  border-right: none;
}
.schedule-table tr td:first-child {
  border: 10px solid white;
  border-bottom: none;
  border-top: none;
  width: 112px;
  background: #1E1E1E;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FF5C00;
}

/*blog*/
.blog {
  padding: 75px 0;
  background-color: #202020;
}
.blog-header {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.blog-items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin: 50px 0 0 0;
}
.blog-item__body {
  position: relative;
  width: 300px;
}
.blog-item__img {
  position: relative;
  font-weight: 600;
}
.blog-item__teg {
  position: absolute;
  bottom: 38px;
  left: 14px;
  background: #FF5C00;
  filter: drop-shadow(0px 0px 10px #FF5C00);
  border-radius: 30px;
  padding: 2px 12px;
  font-size: 12px;
}
.blog-item__name {
  position: absolute;
  bottom: 12px;
  left: 14px;
  color: #FF7101;
}
.blog-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-height: 9.3em;
  margin: 18px 0 0 0;
}

.read-more {
  display: block;
  position: absolute;
  right: 0;
  z-index: 5;
  bottom: 0;
  background-color: #202020;
  padding: 0 0 0 1.2px;
}

.button-more.active {
  font-weight: 800;
  color: #fff;
  cursor: pointer;
}

/*Footer*/
.footer {
  background-color: #000;
  padding: 75px 20px;
}
.footer-logo {
  width: 20%;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__body {
  display: flex;
  gap: 50px;
}
.footer__body ul {
  width: 18%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.footer__body li {
  display: flex;
  gap: 12px;
}
.footer__body li:first-child {
  font-size: 700;
  font-size: 16px;
  color: #FF7101;
}

/*Адаптив*/
@media (max-width: 1046px) {
  .swiper-slide {
    height: 500px !important;
  }
  .coach-info {
    width: 40%;
  }
}
@media (max-width: 988px) {
  .blog-items {
    justify-content: center;
    gap: 50px;
  }
  .blog-item {
    width: 40%;
    min-width: 300px;
  }
}
@media (max-width: 960px) {
  .about-us__info {
    width: 44%;
  }
}
@media (max-width: 850px) {
  .swiper-slide {
    height: 400px !important;
  }
  .coach-header {
    align-items: center !important;
  }
  .coach-info {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .about-us__body {
    flex-wrap: wrap;
  }
  .about-us__img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-us__info {
    width: 60%;
  }
  .footer__menu {
    flex-wrap: wrap;
  }
  .footer__body {
    flex-wrap: wrap;
  }
  .footer__body ul {
    width: 33%;
  }
}
@media (max-width: 540px) {
  .swiper-slide {
    height: 350px !important;
  }
  .swiper-pagination-bullets {
    bottom: 8% !important;
  }
  .about-us__info {
    width: 90%;
  }
  .footer ul {
    width: 100%;
  }
}
/*Шрифты*/
@font-face {
  font-family: "Raleway";
  src: url(/src/fonts/Raleway/Raleway-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(/src/fonts/Raleway/Raleway-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(/src/fonts/Raleway/Raleway-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(/src/fonts/Raleway/Raleway-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url(/src/fonts/Lato/Lato-Bold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url(/src/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*-------------------------------------------*/
.__container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 1084px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-main {
  margin: 50px 0 0 0;
}

.title {
  display: flex;
  gap: 5px;
  align-items: start;
  line-height: 50px;
  font-weight: 800;
  font-size: 50px;
}

.subtitle {
  display: inline-block;
  border-bottom: 2px solid #FF7101;
  padding: 10px 0 0 0;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.button-b {
  margin: 60px 0 0 0;
}

.button-b a {
  background: #FF7101;
  box-shadow: 0px 3px 0px #A53E05, 0px 10px 30px #FF7101;
  border-radius: 30px;
  padding: 15px 39px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.text {
  margin: 18px 0 0 0;
}

@media (max-width: 960px) {
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 13px;
  }
}
@media (max-width: 540px) {
  .title {
    font-size: 35px;
  }
  .subtitle {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */